<div class='container'>
    <% if @categories.length > 0 %>
            <h1>Your list of Categories </h1>
        <% @categories.with_attached_icon.each do |category| %>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                <% if category.icon.attached? %>
                    <%= image_tag category.icon, class: 'img-thumbnail'  %>
                <% end %>
                </div>
                <div class="col-md-8">
                <div class="card-body">
                 
                    <div class="d-flex mt-3 justify-content-between">
                      
                        <p class="card-text"> <%= category.name %> </p>
                        

                         <p class='text-end'> <%= link_to 'View', category_user_transactions_path(category.id) %> </p>
                    </div>
                    <i> <%= current_user.name %> </i>
                    <%# <p> <%= category.user_transactions.length %> </p> %>

                </div>
                </div>
            </div>
        </div>
    <% end %>
    <% else %>
        <h1> You have no categories </h1>
    <% end %>

    <%= link_to 'Add a new category', new_category_path, class: 'btn btn-primary' %>
</div>